.node {
  float: left;
  padding: 10px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
}

.node--selected {
  background-color: #EEE;
}

.node--entity {
  border-radius: 5px;
}

.node--field {
  border-radius: 20px;
}
